<!DOCTYPE html>
<html lang="en">

<%# HTML HEADER %>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<%# HTML BODY %>
<body id="edit">
	<center>
		<img id="samurai_image" src="/images/samurai.png" height="100px" width="100px" alt="Samurai">
		<% details.forEach(function(detail){ %>
			<p>
				<h1><%= detail.title %></h1>
			</p>
			<p>
				<h2><%= detail.subtitle %></h2>
			</p>
			<p>
				<h3><%= detail.author %></h3>
			</p>
		<% }) %>
    </center>
	<% articles.forEach(function(article){ %>
		<form action="edit-article" method="POST">
			<p>
				<input id="title" type="text" name="title" value=<%= article.title %> />
			</p>
			<p>
				<input id="subtitle" type="text" name="subtitle" value=<%= article.subtitle %> />
			</p>
			<p>
				<input id="text" type="text" name="text" value=<%= article.text %> />
			</p>
			<p>
				<button id="submit">Save the changes 👻</button>
			</p>
	 <% }) %>
	 
	    <%# RETURN TO HOMEPAGE %>
		<p>
			<a href="/author-homepage"><input type=button value="Return to the author's homepage"></a>
		</p>
</body>
</html>   