<!DOCTYPE html>
<html lang="en">

	<%# HTML HEAD %>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/styles.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Author - Edit Article Page:</title>
	</head>
	
	<%# SCRIPT %>
	<script src="/scripts/validation-script.js" type="text/javascript"></script> 
 
	<%# HTML HEADER %>
	<header>
		<div class="container">
			<img id="samurai_image" src="/images/samurai.png" alt="Samurai">
			<% details.forEach(function(detail){ %>
				<p>
				<h1><%= detail.title %></h1>
				</p>
				<p>
					<h2><%= detail.subtitle %></h2>
				</p>
				<p>
					<h3><%= detail.author %></h3>
				</p>
			<% }) %>
		</div>
	</header>

	<%# HTML BODY %>
	<body id="edit">
		<div class="container">
		
			<%# EDIT THE ARTICLE %>
			<h1> Edit Article </h1>
			<p> Edit the article and submit the changes. </p>
			<% articles.forEach(function(article){ %>
				<form action="change-article" name="edit-article" onsubmit="return validateEditArticleForm()" method="post">
					<p>
						<label for="title">Title:</label> 
					</p>
					<p>
						<input type="text" id="title-box" name="title" value=<%= article.title %>> 
					</p>
					<p>
						<label for="subtitle">Subtitle:</label> 
					</p>
					<p>
						<input type="text" id="subtitle" name="subtitle" value=<%= article.subtitle %>> 
					</p>
					<p>
						<label for="text">Text:</label> 
					</p>
					<p>
						<input type="text" id="text" name="text" value=<%= article.text %>> 
					</p>
					<p>
						<label for="date_published">Date Published (YYYY-MM-DD):</label> 
					</p>
					<p>
						<input type="text" id="date_published" name="date_published" value=<%= article.date_published%>> 
					</p>
					<p>
						<label for="date_modified">Date Modified (YYYY-MM-DD):</label> 
					</p>
					<p>
						<input type="text" id="date_modified" name="date_modified" value=<%= article.date_modified %>> 
					</p>
					<p>
						<label for="number_of_likes">Number of Likes:</label> 
					</p>
					<p>
						<input type="text" id="number_of_likes" name="number_of_likes" value=<%= article.number_of_likes %>> 
					</p>
					<p>
						<button class="action-btn-grad" id="submit">Save the changes 👻</button>
					</p>
				</form>
			<% }) %>
			
			<%# RETURN TO THE AUTHOR'S HOMEPAGE %>
			<p>
				<a href="/author-homepage"><input type=button class="navigation-btn-grad" value="Return to the author's homepage"></a>
			</p>
		</div>
	</body>
	
	<%# FOOTER %>
	<footer>
		<div class="container">
			<p>&copy; 2023 Ghost and Snow 🐱</p>
		</div>
	</footer>
</html>   