<!DOCTYPE html>
<html lang="en">

<%# HTML HEADER %>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/styles.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Author - Settings Page:</title>
	</head>
	
	 <%# HTML HEADER %>
	<header>
		<div class="container">
			<img id="samurai_image" src="/images/samurai.png" alt="Samurai">
			<% details.forEach(function(detail){ %>
				<p>
				<h1><%= detail.title %></h1>
				</p>
				<p>
					<h2><%= detail.subtitle %></h2>
				</p>
				<p>
					<h3><%= detail.author %></h3>
				</p>
			<% }) %>
		</div>
	</header>
	
	<%# HTML BODY %>
	<body>
		<%# SETTINGS FORM %>
		<% details.forEach(function(detail){ %>
			<form action="edit-settings" method="POST">
				<p>
					<input id="title" type="text" name="title" value=<%= detail.title %> />
				</p>
				<p>
					<input id="subtitle" type="text" name="subtitle" value=<%= detail.subtitle %> />
				</p>
				<p>
					<input id="author" type="text" name="author" value=<%= detail.author %> />
				</p>
				<p>
					<button class="action-btn-grad" id="submit">Edit the settings 👻</button>
				</p>
			  </form>
			<% }) %>
			
			<%# RETURN TO AUTHOR'S HOMEPAGE %>
			<p>
				<a href="/author-homepage"><input type=button class="navigation-btn-grad" value="Return to the author's homepage"></a>
			</p>
		</body>
		
		<%# FOOTER %>
		<footer>
			<div class="container">
				<p>&copy; 2020 Ghost and Snow</p>
			</div>
		</footer>
</html>   